# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.5.0

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4
    environment:
      TZ: Asia/Kolkata
    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install Dependencies
          command: npm install && npm install -D codecov jest-junit

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

        # run prettier!
      - run:
          name: Prettier Check
          command: npm run prettier-check

      # run tests!
      - run:
          name: Test
          command: JEST_JUNIT_OUTPUT=coverage/test-results.xml npm run test --coverage --ci --reporters=default --reporters=jest-junit
      - run:
          name: Send Coverage
          command: npm run codecov
      - store_test_results:
          path: coverage
      - store_artifacts:
          path: coverage

